h2 {
	font-weight: lighter;
	font-size: 48px;
	margin-top: -10px;
	letter-spacing: 2px;
	margin-bottom: 10px;
}

h2 > b {
	font-weight: bold;
}

h3 {
	font-weight: normal;
	font-size: 34px;
	margin-top: -10px;
	letter-spacing: 2px;
	margin-bottom: 30px;
}


hr {
	color: grey;
	background-color: grey;
	height: 2px;
	margin-top: 45px;
	margin-bottom: 45px;
}

/* classes */

.container {
	margin-left: auto;
	margin-right: auto;
	width: 800px;
}

.feat_row {
	clear: both;
	display: block;
	margin-top: 25px;
}

.feat_col_3 {
	float: left;
	height: 150px;
	width: 33%;
}

.feat_col_1 {
	float: left;
	height: 150px;
	width: 33%;
}

.feat_row * > img{
	height: 100px;
	display: block;
	margin: auto;

}

/* div ids */

#content {
	text-align: center;
	font-size: 20px;
	
}

/* logo styling */

#banner {
	background: black center center no-repeat url('/static/images/clinic3.jpg');
	background-size: cover;
	color: white;
	height: 510px;
	margin-bottom: 80px;
}

#logo_group {
	position: relative;
	float: right;
	width: 40%;
	margin-right: 25px;
	height: 510px;
}

#logo {
	font-size: 64px;
	text-align: right;
	font-weight: normal;
}

#logo_sub {
	width: 100%;
	text-align: right;
	font-size: 28px;
}

#logo_img {
	z-index: 9001;
	float: right;
	margin-top: -40px;
}
