<div class = "container">
	<div id = "team_logo">
		<span><b>R1</b></span> 
		<span style = "font-size: 24px;">Engineering</span>
		<div id = "navbar">
			<a class = "scrollPage" href = "{{ url_for('show_index') }}">skinMD</a> 
			<a href = "{{ url_for('show_support') }}">support</a> 
			<a href = "{{  url_for('show_team') }}">team</a>
		</div>
		<!--<span style = "float: right;"><img src = "{{ url_for('static', filename = 'images/shield.color.gif') }}"/></span>-->
	</div>
	<div style = "clear: both;"></div>
</div>