<!doctype html>
<html>
<head>
	<title>SkinMD Results Page</title>
	<link rel = "stylesheet" type = "text/css" href = "{{ url_for('static', filename='main.css') }}" />
	<link rel = "stylesheet" type = "text/css" href = "{{ url_for('static', filename='jquery.qtip.min.css') }}" />
	<script type = "text/javascript" src = "https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
	<script type = "text/javascript" src = "{{ url_for('static', filename='jquery.qtip.min.js') }}"></script>
</head>
<body>
	<div id = "header">
		<div class = "container">
			<a href = "{{ url_for('show_index') }}"><h2><i>Skin</i>MD</h2></a>
		</div>
	</div>
	<div class = "container">
		<div id = "content_team">
			<h1 style = "margin-bottom: 30px;">The Team</h1>
			<div class = "team_box" name = "Aldrin 'Buzz' Abastillas" 
				desc = "<b>Strengths:</b> Popping and locking, Headglide <br/>
						<b>Signature Move:</b> The Intergalactic"
			>
			<img src = "{{ url_for('static', filename='images/aldrin.jpg') }}" />
			<br/>
			</div>
			
			<div class = "team_box" name = "Bezhou 'Eezy Beezy' Feng"
				desc = "<b>Strengths:</b> Windmill, Butterfly Jump <br/>
						<b>Signature Move:</b> The Baltimore"
			>
			<img src = "{{ url_for('static', filename='images/bez.jpg') }}" />
			<br/>
			</div>
			
			<div class = "team_box" name = "Lisa 'Quiznos Lobster' Jiang"
				desc = "<b>Strengths:</b> Applejax Kick, 2000s Spin <br/>
						<b>Signature Move:</b> The Phone Tap"
			>
			<img src = "{{ url_for('static', filename='images/lisa.jpg') }}" />
			<br/>
			</div>
			
			<div class = "team_box" name = "Ryan 'Hawaii Five-O' Nakasone"
				desc = "<b>Strengths:</b> Trip Swipe, C-Walk <br/>
						<b>Signature Move:</b> The West Coast"
			>
			<img src = "{{ url_for('static', filename='images/ryan.jpg') }}" />
			<br/>
			</div>
			
			<h1 style = "margin-top: 225px;" >About Us</h1>
			<p style = "text-align: left; margin-left: 30px;">
			Formed in March of 2011, the SkinMD team consists of four bioengineering seniors
			enrolled in the School of Engineering and Applied Science at the University of Pennsylvania.
			<br/><br/>
			Our advisor is Dr. Brian Litt.
			</p>
		</div>
		<div style = "clear:both;"></div>
	</div>
	
	{% include 'footer.html' %}
	
	<script>
	$(document).ready(function() {
		$("tr:even").css("background-color", "#D7EBFF");
		$(".team_box").qtip({
			content: {
				text: function(api) {
					return $(this).attr('desc');
				},
				title: {
					text: function(api) {
						return $(this).attr('name');
					}
				}
			},
			position: {
				my: "top center",
				at: "bottom center"
			},
			style: {
               classes: 'ui-tooltip-shadow ui-tooltip-dark'
            }
		});
	});
	</script>
</body>
</html>